{% extends 'AttedanceManager/base.html' %}
{% block content %}


            {% csrf_token %}
    <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
         <b>Students List</b></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Student name</th>
                    <th>Status</th>
                </tr>
              </thead>
                <tbody>
                    {% for att in att_list %}
                    <tr>
                    <td>{{att.student.name}}</td>

                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% if att.status %}
                            <td class="p-3 mb-2 bg-success text-white">Present <span class="glyphicon glyphicon-thumbs-up"></span></td>
                            {% else %}
                            <td class="p-3 mb-2 bg-danger text-white">Absent <span class="glyphicon glyphicon-thumbs-down"></span</td>
                            {% endif %}

                        </div>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>




{% endblock %}